.atm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.success{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    row-gap: 20px;
}

.success img{
    width: 100px;
    height: 100px;
}

.success p{
    color: #fff;
    padding: 10px 10px;
    margin: 0 5px;
    display: inline-block;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
