.atm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0 auto;
}


.loggedin {
    width: 100%;
    padding: 20px;
}


.top {
    display: flex;
    justify-content: space-between;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnB {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.logout {
    width: 150px;
    border-radius: 10px;
    height: 45px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 1px solid #d70026;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    background-color: #d70026;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.withdrow {
    border: 1px solid #486b00;
    background-color: #486b00;
    color: #fff;
}

.withdrow {
    width: 150px;
    border-radius: 10px;
    height: 45px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.name {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 20px 0px;
    text-transform: uppercase;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.phone {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px 0px;
    color: #fff;
    text-transform: uppercase;
}


.bank {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px 0px;
    color: #d70026;
    text-transform: uppercase;
}

.type {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px 0px;
    color: #edb82d;
    font-style: italic;
    text-transform: capitalize;
}

.balance {
    text-align: center;
    margin: 10px 0;
}

.balanceBtn {
    border: 1px solid #edb82d;
    background-color: #edb82d;
    color: #fff;
    width: 200px;
}

.balance h1 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
}

.balanceBtn {
    width: 220px;
    border-radius: 10px;
    height: 45px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.cardDetail {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.cardDetail img {
    width: 100%;
    height: 100%;
}

.cardDetail .num {
    left: 2px;
    text-align: center;
}

.cardDetail .num {
    width: 100%;
    position: absolute;
    font-size: 41px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    left: 30px;
    top: 60%;
    color: #fff;
    text-shadow: 0px 4px 4px #282828;
}


.cardDetail .bankName {
    width: 100%;
    position: absolute;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    left: 30px;
    top: 20px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #282828;
}


.cardDetail .cardType {
    width: 100%;
    position: absolute;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    right: 30px;
    top: 30%;
    font-style: italic;
    color: #d70026;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #282828;
    text-align: right;
}


.cardDetail .validity {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 30px;
    bottom: -10px;
    color: #fff;
}

.validity .val {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0px 4px 4px #282828;
}

.validity .val .thru {
    letter-spacing: 1px;
}

.validity .thru {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0px 4px 4px #282828;
}

.validity .date {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #282828;
}

.bottom {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.bottom p {
    color: #fff;
    padding: 10px 10px;
    margin: 0 5px;
    display: inline-block;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}


@media (min-width: 992px) and (max-width: 1200px){
    

}



@media (min-width: 767px) and (max-width: 992px){


    .name {
        font-size: 26px;

    }

    
    .phone {
        font-size: 24px;
        font-weight: 600;

    }
    
    
    .bank {
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin: 20px 0px;
        color: #d70026;
        text-transform: uppercase;
    }
    
    .type {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }
    
    .balance {
        text-align: center;
        margin: 10px 0;
    }
    
    
    .balance h1 {
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #fff;
    }
    
    .balanceBtn {
        width: 220px;
        border-radius: 10px;
        height: 40px;
        font-size: 16px;
    }
    
    .cardDetail .num {
        width: 100%;
        position: absolute;
        font-size: 36px;
        right: 1px;
        font-family: sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        left: 10px;
        top: 60%;
    }
    
    
    .cardDetail .bankName {
        font-size: 36px;
    }
    
    
    .cardDetail .cardType {
        font-size: 36px;

    }
    
    
    .cardDetail .validity {
        display: flex;
        align-items: center;
        column-gap: 10px;
        position: absolute;
        right: 15px;
        bottom: -5px;
        color: #fff;
    }
    
    .validity .val {
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        text-shadow: 0px 4px 4px #282828;
        position: relative;
    }
    
    .validity .val .thru {
        letter-spacing: 1px;
    }
    
    .val p{
        font-size: 16px;
    }
    .validity .thru {
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        bottom: -3px;
    }
    
    .validity .date {
        font-size: 22px;
        font-family: sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px #282828;
        margin-top: 30px;
    }

    .update{
        font-size: 30px !important;
    }

}




@media (min-width: 0px) and (max-width: 480px){

    .name {
        font-size: 26px !important;

    }

    
    .phone {
        font-size: 24px;
        font-weight: 600;

    }
    
    
    .bank {
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin: 20px 0px;
        color: #d70026;
        text-transform: uppercase;
    }
    
    .type {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }
    
    .balance {
        text-align: center;
        margin: 10px 0;
    }
    
    
    .balance h1 {
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #fff;
    }
    
    .balanceBtn {
        width: 220px;
        border-radius: 10px;
        height: 40px;
        font-size: 16px;
    }
    
    .cardDetail .num {
        width: 100%;
        position: absolute;
        font-size: 15px;
        right: 10px;
        font-family: sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        left: 10px;
        top: 60%;
    }
    
    
    .cardDetail .bankName {
        font-size: 22px;
    }
    
    
    .cardDetail .cardType {
        font-size: 22px;

    }
    
    
    .cardDetail .validity {
        display: flex;
        align-items: center;
        column-gap: 10px;
        position: absolute;
        right: 15px;
        bottom: -5px;
        color: #fff;
    }
    
    .validity .val {
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        text-shadow: 0px 4px 4px #282828;
        position: relative;
    }
    
    .validity .val .thru {
        letter-spacing: 1px;
    }
    
    .val p{
        font-size: 12px;
    }
    .validity .thru {
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        bottom: -3px;
    }
    
    .validity .date {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px #282828;
        margin-top: 30px;
    }
    
    



}


